a.button {
  height: 30px;
  width: auto;
  padding: 9px 15px 9px 15px;
}

button.button {
  height: 30px;
  width: auto;
  padding: 9px 15px 9px 15px;
}

div.button {
  height: 23px;
  width: 89px;
  padding-top: 7px;
}

.button {
  text-decoration: none;
  background-color: rgb(100,130,3);
  border-radius: 3px;
  color: rgb(237,240,226);
  border-style: none;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(rgb(100,130,3), rgb(83,108,2));
}

.button:focus {
  outline: 0;
  box-shadow: 0 0 0 1px rgb(223,164,97);
  border: 1px solid rgb(255,255,255);
  padding: 0px 15px 0px 14px;
}

.button:active {
  outline: none;
  border: none;
  background: rgb(83,108,2);
}

button.button:active {
  padding: 0px 15px 0px 15px;
}
